html, body {
	background: #000000;
	display: flex;
	flex-flow: column;
	justify-items: stretch;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
	border-bottom: 1px solid grey;
	height: 60vh;
}

section:nth-child(even) {
	background-color: #202020;
}

section:nth-child(odd) {
	background-color: #505050;
}

section:first-child img {
	filter: drop-shadow(2px 3px 4px black);
}

section div {
	
}

footer {
	padding: 2px;
}